
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(image/background.webp);
    background-size: 100% 100% ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }
   



.container{
    background-color: rgb(0,0,0,0.4);
    padding: 10px 15px;
    border-radius: 20px;
    width: 600px;
    height:350px ;

}
h1{
    color:silver;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    font-style:italic;
}
.container .box{
    width: 100%;
    display: flex;

}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,232,29,0.7226914414414414) 0%, rgba(252,176,69,1) 97%);
    outline: none;
    color:black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}
input{
    width: 85%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
    margin-top: 20px;
  }
 .btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;

 }
 button{
    width:50% ;
    height:40px ;
    padding:20px 20;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight:bolder;
    color:black;
    border: none;
    cursor: pointer;
    margin: .5em 0;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(64,253,29,0.7707394894894894) 0%, rgba(69,252,186,1) 97%);
    

 }
 button:hover{
    background: rgb(240,6,46);
    background: radial-gradient(circle, rgba(240,6,46,1) 44%, rgba(233,156,148,1) 100%);
    color: white;
 }